<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Steppedua Inc.</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
<header th:insert="parts/header :: header"></header>

<div>
    <h1>HI BRO</h1>
</div>

<div class="container mt-5">
    <h1>Блог сайта</h1>
    <div th:each="el : ${courses}" class="alert alert-info mt-2">
        <h3 th:text="${el.title}"/>
        <p th:text="${el.anons}"/>
        <a th:href="'/course/' + ${el.id}" class="btn btn-warning">Детальнее</a>
    </div>
</div>

<footer th:insert="parts/footer :: footer"></footer>
</body>
</html>